* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  overflow-x: hidden;
  background-color: var(--body-background);
  background-image: url("../src/pc_index/code.png");
  background-size: 20%;
  margin: 0;
  padding: 0;
  max-height: 100%;
  transition: 1s;
}

:root {
  --container-background: white;
  --color-default-ch1: white;
  --color-default: rgb(12, 12, 12);
  --body-background: #4b4b4e;
  --bx-bg: #88888f56;
  --Contenth1-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  --card-body: white;
  --color-nav-bx: white;
  --card-shadow: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
  --dsc-hover: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.418));
}
.dark-mode {
  --container-background: rgb(12, 12, 12);
  --color-default: white;
  --color-nav-bx: white;
  --body-background: rgb(0, 0, 0);
  --bx-bg: #d1d1e052;
  --Contenth1-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  --card-body: rgb(27, 27, 27);
  --card-shadow: drop-shadow(20px 20px 20px rgb(0, 0, 0));
  --dsc-hover: drop-shadow(20px 20px 20px rgb(0, 0, 0));
}
::selection {
  background: rgba(200, 200, 255, 0.4);
}
.gh-hover {
  transition: 1s;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.github-profile-badge-img {
  width: 8vw !important;
  height: 8vw !important;
  transition: 2s;
}
.github-profile-badge-logo {
  width: 2vw !important;
  height: 2vw !important;
}
.github-profile-badge-name {
  font-size: 2vw !important;
  color: var(--color-default) !important;
}
.github-profile-badge-img:hover {
  filter: drop-shadow(0 0 5px rgb(54, 54, 255));
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.gh-img {
  transition: 2s;
  min-width: 400px;
  transition: 1s;
}
.gh-img:hover {
  filter: drop-shadow(0 0 5px rgb(54, 54, 255));
}
.gh-hover:hover {
  transform: scale(1.04);
  filter: var(--card-shadow);
}
p {
  opacity: 0.8;
  font-size: calc(0.6rem + 0.5vw);
  color: var(--color-default);
}

i {
  margin-bottom: 2%;
  border-radius: 0.4rem;
  font-size: calc(2vw + 8rem) !important;
}
hr {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, white 35%, rgba(255, 255, 255, 0.1) 100%);
  height: 1rem;
}
.card-title-special {
  font-size: 2vw !important;
  color: var(--color-default);
}
.card {
  transition: 1s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  border-radius: 0.5rem;
  border-width: 0.15rem;
  background: linear-gradient(242deg, #ce0000, #ff8522, #c322ff);
  background-size: 600% 600%;
  -webkit-animation: anim 11s ease infinite;
  -moz-animation: anim 11s ease infinite;
  animation: anim 11s ease infinite;
}
.card:hover {
  transform: scale(1.04);
  filter: var(--card-shadow);
}

.innerh1 {
  padding-bottom: 3rem;
  margin-top: 2rem;
}

.container {
  padding-left: 4%;
  padding-right: 4%;
  left: -30vw;
  right: -30vw;
  box-shadow: var(--card-shadow);
  margin: 0 auto;
  height: fit-content;
  background-color: var(--container-background);
  z-index: 55;
  max-width: 150vh;
  transition: 0.5s;
}
.row {
  padding-bottom: 2rem;
  height: fit-content;
}

.dsc:hover {
  transform: scale(1.04);
}
.dsc:hover > .bx {
  filter: var(--dsc-hover);
}
.dsc > .bx {
  transition: 1s;
}
.dsc-stacklike-img {
  width: 100%;
  padding-bottom: 3rem;
  filter: var(--card-shadow);
}
.btn:hover {
  background: #fff;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 3px 10px, rgba(255, 255, 255, 0.3) -5px 5px;
  color: black !important;
}
.btn {
  color: white !important;
}
.btn-outline-primary {
  color: rgb(13, 110, 253) !important;
}
.dsc-text {
  width: 100%;
}
.hr-dsc {
  border: 1px dashed rgb(255, 255, 255);
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.Mail {
  max-width: 15rem;
  transition: 1s;
}
.Mail:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
  transition: 1s;
}
.percdivR {
  width: 50%;
  float: right;
}
.dsc {
  transition: 1s;
  height: fit-content;
  display: flex;
}
.dsc-inner {
  display: flex;
  justify-content: flex-start;
  flex-direction: column; /*This solves everything*/
}
.dsc-h1 {
  width: 100%;
}
.dsc-img {
  float: left;
  width: auto;
  min-width: min-content;
  height: 18vh;
  margin-right: 2rem;
  border-radius: 0.2rem !important;
  padding-top: 0.5rem;
}
.carousel-inner {
  height: max-content;
  padding-top: 5%;
  padding-bottom: 5%;
}
.dsc-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}
.percdivL {
  float: left;
  width: 50%;
}
.paddingcont {
  height: 6rem;
  background-color: rgba(26, 26, 26, 0.9);
  z-index: 1;
}
.leftcont {
  float: left;
  margin-left: 10%;
  margin-top: 15%;
}
.h1 {
  font-size: 4vw;
  color: var(--color-default);
}
.h2 {
  font-size: 3vw;
  color: var(--color-default);
}
.Contenth1 {
  font-size: calc(2.5rem + 0.6vw);
  word-break: keep-all;
  height: min-content;
  color: var(--color-default);
}
.innerh1 > .Contenth1 {
  text-shadow: var(--Contenth1-shadow);
  color: var(--color-default-ch1);
}
.Contenth1-special {
  color: var(--color-default) !important;
}
.card-title {
  font-size: 2vw;
  padding-top: 0.6vw;
  color: var(--color-default);
}

.img {
  position: absolute;
  right: 0px;
  bottom: -6rem;
  height: 110vh;
  min-height: 110vh;
  max-width: 110vh;
  transition: 1s;
}
.cookiebg {
  transition: 0.2s;
  box-shadow: none;
  background-image: url(../src/index/cookie.webp);
  background-size: 10%;
  padding-bottom: 4rem;
}

#like-a:hover ~ #like-b {
  transition: 0.2s;
  background-image: url(../src/pc_index/heart.webp);
}
.img.scrolled {
  transform: translateX(5vw);
  opacity: 0;
}
.hello_container {
  height: 100%;
  width: 100%;
}
.card-slider {
  transition: 1s;
  height: calc(max-content + 1rem);
  border-radius: 2rem !important;
}
.card-slider:hover {
  transform: scale(1.04);
  filter: drop-shadow(20px 20px 20px rgb(0, 0, 0));
}
a.bigger {
  font-size: 2rem;
}
a.bettertouch {
  position: relative;
  z-index: 50;
}

a.bettertouch:before {
  position: absolute;
  content: "";
  top: -10px;
  right: -10px;
  left: -10px;
  bottom: -10px;
  z-index: 40;
}
.left {
  float: left;
  width: 100%;
}
.right {
  float: right;
}
.card-body {
  border-radius: 0 0 1rem 1rem;
  background-color: var(--card-body);
}
.card-img-bottom {
  border-radius: 1rem 1rem 0 0;
  filter: drop-shadow(var(--Contenth1-shadow));
}

.navbar {
  backdrop-filter: blur(10px);
  position: fixed;
  opacity: 0;
  padding-top: 1rem;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.1);
  -moz-box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.1);
  box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.1);
}
.dsc-end {
  background-size: contain;
  background-position: center;
  background-color: #000000;
  min-width: 20rem;
  padding-top: 2rem;
  width: 38vw;
  max-width: 600px;
  height: 100%;
}

.contact {
  transition: 3s;
  margin-top: 2rem;
}
.contact.scrolled {
  opacity: 0;
  display: none;
  transition: 2s;
}
.navbar.scrolled {
  background: linear-gradient(to left, rgba(51, 51, 51, 0), rgba(37, 37, 37, 0.7), rgba(51, 51, 51, 0));
  opacity: 1;
  transition: 2s;
}
.bx {
  color: var(--color-default);
  font-size: 1.5rem;
  margin-right: 2rem;
  background-color: var(--bx-bg);
}

.dynamic {
  font-size: 3rem;
  background: linear-gradient(242deg, #ce0000, #ff8522, #c322ff);
  background-size: 600% 600%;

  -webkit-animation: anim 11s ease infinite;
  -moz-animation: anim 11s ease infinite;
  animation: anim 11s ease infinite;
}
.bd {
  background: linear-gradient(242deg, #ce0000, #ff8522, #c322ff);
  background-size: 600% 600%;

  -webkit-animation: anim 11s ease infinite;
  -moz-animation: anim 11s ease infinite;
  animation: anim 11s ease infinite;
}
.endpage {
  font-size: 3rem;
  background: linear-gradient(242deg, #3700ce, #29ff22, #c322ff);
  background-size: 600% 600%;

  -webkit-animation: anim 11s ease infinite;
  -moz-animation: anim 11s ease infinite;
  animation: anim 11s ease infinite;
}

@-webkit-keyframes anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff42;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 5px;
}
@media screen and (max-width: 900px) {
  .img {
    display: none;
  }
}
.anim {
  animation: img-anim 2s forwards;
}
@keyframes img-anim {
  from {
    transform: scale(1.05);
  }
  to {
    transform: none;
  }
}
