* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  overflow-x: hidden;
}
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(./src/index/cat.webp);
}
html {
  scroll-behavior: smooth;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}
.navbar {
  backdrop-filter: blur(10px);
  background-color: rgba(73, 73, 73, 0.7);
  position: fixed;
  padding-top: 1rem;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.1);
  -moz-box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.1);
  box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.1);
}
.btn:hover {
  color: #11101d;
  background: #fff;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 3px 10px, rgba(255, 255, 255, 0.3) -5px 5px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  z-index: -1;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.rgbtext {
  background: linear-gradient(to right, rgb(255, 255, 255) 20%, #dab055 30%, #da9e44 70%, rgb(255, 255, 255) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite alternate;
}
.rgbtext-blue {
  background: linear-gradient(to right, rgb(172, 230, 248) 20%, #6255da 30%, #4460da 70%, rgb(71, 230, 216) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite alternate;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

@keyframes colorf {
  from {
    background-color: rgb(0, 131, 131);
  }
  to {
    background-color: rgb(136, 51, 51);
  }
}
@keyframes colors {
  from {
    background-color: rgb(136, 51, 51);
  }
  to {
    background-color: rgb(126, 82, 0);
  }
}
@keyframes colort {
  from {
    background-color: rgb(126, 82, 0);
  }
  to {
    background-color: rgb(0, 131, 131);
  }
}
/* font & text decorations */
.hr {
  color: white;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.h2x {
  color: white;
  font-size: 1rem;
}
.row {
  margin: 0;
}

.h1 {
  font-size: 4rem;
  color: white;
}
.h2 {
  color: #9b9b9b;
  font-size: 1rem;
}
.h3 {
  color: #9b9b9b;
  font-size: 1.5rem;
  opacity: 0;
}
.h3.visible {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  opacity: 1;
  animation: rText 0.5s forwards;
  animation-delay: 0.175s;
  opacity: 0;
}
.h3d {
  color: #9b9b9b;
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-right: 0.1rem;
  opacity: 0;
}
.h3d.visible {
  color: #9b9b9b;
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-right: 0.1rem;
  animation: rText 0.5s forwards;
  animation-delay: 0.175s;
  opacity: 0;
}
.h2xl {
  color: white;
  opacity: 0;
}
.h2xl.visible {
  color: white;
  opacity: 1;
  animation: rText 0.5s forwards;
}
.h2xld {
  color: white;
  font-size: 2.5rem;
  opacity: 0;
}
.h2xld.visible {
  margin-top: 1rem;
  color: white;
  font-size: 2.5rem;
  display: block;
  animation: rText 0.5s forwards;
}
.animatedtext {
  color: #fff;
  text-transform: uppercase;
  line-height: 4rem;
}

.jumbotron {
  min-width: 250px;
  min-height: 50vh;
  background-position: center;
}
/* card */
.card-deck {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.card-text {
  color: #9b9b9b;
  padding-bottom: 1rem;
}
.card-text-special {
  color: #9b9b9b;
  padding-bottom: 1rem;
  opacity: 0;
  animation: oText 1s forwards;
}
.card-title-special {
  animation: lText 1s forwards;
  opacity: 0;
}
.card {
  background-color: #1d1d1d;
  border-color: #11101d;
  color: white;
  opacity: 0;
  border-radius: 1rem;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  -webkit-box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.3);
  -moz-box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.3);
  box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.3);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
.card:hover {
  transform: scale(1.03);
  -webkit-font-smoothing: subpixel-antialiased;
}
.card.linked:hover {
  transform: scale(1.03);
  -webkit-font-smoothing: subpixel-antialiased;
  animation: rgb-shadow 4s forwards;
}
@keyframes rgb-shadow {
  0% {
    box-shadow: 0px 0px 30px rgba(11, 124, 199, 1);
    box-shadow: 0px 0px 10px rgba(11, 124, 199, 1);
  }
  20% {
    box-shadow: 0px 0px 30px rgba(168, 11, 199, 1);
    box-shadow: 0px 0px 10px rgba(168, 11, 199, 1);
  }
  40% {
    box-shadow: 0px 0px 30px rgba(11, 199, 96, 1);
    box-shadow: 0px 0px 10px rgba(11, 199, 96, 1);
  }
  60% {
    box-shadow: 0px 0px 30px rgba(199, 11, 11, 1);
    box-shadow: 0px 0px 10px rgba(199, 11, 11, 1);
  }
  80% {
    box-shadow: 0px 0px 30px rgba(199, 96, 11, 1);
    box-shadow: 0px 0px 10px rgba(199, 96, 11, 1);
  }
}

.card-img-bottom,
.card-img-mid,
.card-img-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.card-img-bottom.visible,
.card-img-mid.visible,
.card-img-top.visible {
  animation: card-img 2s forwards;
}

@keyframes card-img {
  from {
    opacity: 50%;
    transform: scale(1.04);
  }
  to {
    opacity: 100%;
    transform: none;
  }
}
.progress-bar {
  text-align: right;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  width: 90%;
  position: relative;
  bottom: 0;
}
.progress {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  width: 90%;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
.progress-bar-wip {
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  width: 90%;
  position: relative;
  bottom: 0;
}
/* main element */
.main {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #1d1d1d;
  padding-bottom: 1rem;
  -webkit-box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.3);
  -moz-box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.3);
  box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.3);
}
.main-ref {
  height: 100%;
  width: 100%;
}
.main-transparent {
  background-color: #1d1d1df3;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.3);
  -moz-box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.3);
  box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.3);
  box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.3);
}
.main-transparent.highlighted {
  background: linear-gradient(to top, rgb(56, 37, 32) 0%, transparent 60%);
}
.main.highlighted {
  background: linear-gradient(to top, rgb(56, 37, 32) 90%, transparent 60%);
}
.hr {
  opacity: 0;
  display: block;
  position: sticky;
}
.hr.visible {
  animation: hr_anim 1s forwards;
}
@keyframes hr_anim {
  from {
    left: 50%;
    width: 0%;
    opacity: 0.2;
  }
  to {
    left: 5%;
    width: 90%;
    opacity: 0.3;
  }
}
.dsc {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  clear: both;
  display: inline-block;
  word-break: break-word;
}

.dsc-img {
  margin-left: 1rem;
  margin-right: 1rem;
  float: left;
  width: 15vh;
  max-width: 30px;
  opacity: 0;
}
.dsc-img.visible {
  animation: card-img 2s forwards;
}
.catbg {
  background-image: url(./src/index/cat.webp);
  background-size: 40rem;
  animation: catpics 10s 2s infinite;
  transition: all 3s ease-out;
}

@keyframes catpics {
  25% {
    background-position: right top;
  }

  75% {
    background-position: left bottom;
  }
}
::selection {
  color: #fff;
  background: #11101d;
}

.bx {
  text-decoration: none;
  color: #fff;
  margin-right: 1rem;
  font-size: 28px;
  opacity: 100%;
}

.color1 {
  animation: colorf 5.5s;
}
.color2 {
  animation: colors 5.5s;
}
.color3 {
  animation: colort 5.5s;
}
@media screen and (max-width: 1200px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}
/* @media, responsivity starts right here :D */
@media screen and (max-width: 767px) {
  .jumbotron {
    background-image: none;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .slideshow-container {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .h2xld {
    font-size: 1.5rem;
  }

  .slideshow-container {
    display: block;
  }
}
@media screen and (min-height: 1400px) {
  .main-ref {
    height: 22rem;
  }
}
@media (min-width: 800px) {
  .jumbotron {
    background-image: url(./src/index/site-preview.webp);
    background-size: cover;
    animation: big-header-pic 1s forwards;
    padding-top: 100px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  .slideshow-container {
    display: none;
  }
  .navbar {
    background: linear-gradient(to left, rgba(51, 51, 51, 0), rgba(73, 73, 73, 0.7), rgba(51, 51, 51, 0));
  }
  .catbg.slider {
    background-size: 10rem !important;
  }
}
@keyframes big-header-pic {
  0% {
    opacity: 0.95;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 900px) {
  .dsc-end-main {
    background-image: url("./src/index/dsc-cat.webp");
    background-size: cover;
    background-position: center;
  }
}

.linear-bg {
  background: linear-gradient(to bottom, #1d1d1d, #1d1d1de7);
}

.animatedtext-content {
  display: block;
  opacity: 0;
  animation: rText 0.5s forwards;
}

.animatedtext-second {
  animation-delay: 0.175s;
}
.animatedtext-card-header {
  display: block;
  opacity: 0;
  animation: lText 0.5s forwards;
}
.card-title {
  opacity: 0;
}
.card-text {
  opacity: 0;
}
.visible {
  display: block;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.animatedtext-card-text {
  animation-delay: 0.075s;
  display: block;
  opacity: 0;
  animation: oText 1s forwards;
}
@keyframes rText {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes oText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes lText {
  from {
    opacity: 0;
    transform: translateX(10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 4.5s;
}

@keyframes fade {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.rounded {
  max-width: 1000px;
  padding-top: 1rem;
  opacity: 0;
}

.rounded.visible {
  animation: card-img 2s forwards;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #11101d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(163, 163, 163);
}
.progress-bar-striped {
  height: 100%;
}
a:link {
  color: #ffffff; /* Цвет ссылок */
}
a:visited {
  color: #ffffff; /* Цвет посещенных ссылок */
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
svg.svg-animated {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  animation: wave 1s forwards;
}
.container {
  position: relative;
  min-width: 100%;
  margin: 0;
  height: 7vw;
  background: linear-gradient(#1d1d1dd8, #1d1d1d, #1d1d1d);
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
}

@keyframes wave {
  0% {
    top: -80px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.Mail {
  max-width: 50%;
  transition: 1s;
}
.Mail:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
  transition: 1s;
}
.dsc-end {
  background-image: url("./src/index/s.webp");
  background-size: contain;
  background-position: center;
  background-color: #7a70d352;
  min-width: 20rem;
  width: 38vw;
  max-width: 600px;
  height: 100%;
}

.carousel-item {
  animation: carousel-anim 1s;
  transition: all 0.5s;
}
@keyframes carousel-anim {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.carousel-item.active {
  opacity: 1;
  transition: all 0.5s;
}
.card-slider {
  background-color: #1d1d1d;
  border-color: #11101d;
  color: white;
  opacity: 1;
  border-radius: 1rem;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  -webkit-box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.3);
  -moz-box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.3);
  box-shadow: 4px 4px 6px -1px rgba(17, 16, 29, 0.3);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
.card-slider:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.catbg.slider {
  background-image: url("./src/index/bg-slider.webp");
  background-size: 70%;
}
@keyframes textShine {
  to {
    background-position: 200%;
  }
}
