@import url("https://fonts.cdnfonts.com/css/open-sans");
* {
  padding: 0;
  font-family: "Open Sans", sans-serif !important;
  color: white;
}
.inverted {
  color: black;
}
.pc,
.mobile {
  display: none;
}
body {
  background: #000000 !important;
}
.header {
  background: #000000;
  min-height: 100vh;
  padding-left: 3rem;
  padding-right: 3rem;
}
.footer-h1 {
  font-size: 10vh !important;
}
h1 {
  font-weight: 900 !important;
  font-size: 6vw !important;
  line-height: 0.9 !important;
  margin: 0 !important;
}
h1.special {
  font-weight: 500 !important;
}
h2 {
  margin: 0 !important;
  font-size: 2rem !important;
  line-height: 1.25 !important;
}
p {
  opacity: 0.6;
  margin: 0 !important;
}
i {
  padding-right: 0.5rem;
}

i.footer {
  font-size: 2rem !important;
}

.projects-div,
.lang-div {
  margin-bottom: 2rem !important;
  position: relative;
  padding-top: 2rem;

  padding-bottom: 1rem;
}
.lang-box {
  width: clamp(10rem, 80vw, 30rem);
  height: clamp(10rem, 80vw, 30rem);
  background: #ed7550;
}
.lang-div {
  padding-top: 5rem;
}

.header-text {
  position: absolute;
  bottom: 5rem;
  left: 12vw;
}
.nav-link,
.navbar-brand {
  color: white !important;
  font-size: 1.4rem !important;
}
.navbar-brand {
  font-weight: 800;
}

.nav-link {
  padding-right: 2rem !important;
}
.grey {
  background: gray;

  height: 10rem;
}
.quadcol {
  width: 30vw !important;
  height: 30vw !important;
  background: url("../../src/pc_index/1.png");

  background-size: cover;
}
.quadcol-2 {
  width: 20vw !important;
  height: 20vw !important;
  background: url("../../src/pc_index/2.png");
  background-size: cover;
}
.quadcol-3 {
  width: 15vw !important;
  height: 30vw !important;
  background: url("../../src/pc_index/3.png");
  background-size: 140%;
}
.quadcol-4 {
  width: 7vw !important;
  height: 10vw !important;
  background: url("../../src/pc_index/4.png");
  background-size: cover;
}
.quadcol-5 {
  width: 10vw !important;
  height: 20vw !important;
  background: url("../../src/pc_index/5.png");
  background-size: cover;
}
/** list **/
.content > ul {
  list-style: none;
}

.content > ul li {
  padding-bottom: clamp(3rem, 20vw, 8rem);
  position: relative;
}
.ul-text-wrapper {
  padding-top: 2rem;
}
.ul-text-wrapper > p {
  background: linear-gradient(to top, #120c0c, #0c0e12ea);
}
.content > ul li span {
  border-radius: 50%;
  padding: 1.5rem 2rem;
  margin-right: 2rem;
  background: #fff;
}
.content > ul li span:before {
  content: "";
  position: absolute;
  left: 2.2rem;
  bottom: 0;
  z-index: -1;
  height: 100%;
}

.content > ul li:last-child span:before {
  content: none;
}
.content > ul li:last-child {
  padding-bottom: 0;
}
.phone {
  position: absolute;
  left: -20vw;
  width: 40%;
  min-width: 20rem;
  z-index: 1;
  animation: phone 4s infinite;
}

@keyframes phone {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.my-social::-webkit-scrollbar {
  width: 0 !important;
}
.card {
  background: none !important;
  border: none !important;
}
.row > .col {
  border: solid 1px rgba(245, 222, 179, 0);
  transition: 1s;
}
.row > .col:hover {
  border-bottom: solid 1px white;
  animation: bg-anim 2s;
}
.cat-maincontent {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.cat-img {
  width: 100% !important;
}

@keyframes bg-anim {
  0% {
    background: none;
  }
  50% {
    background: rgba(255, 255, 255, 0.1);
  }
  100% {
    background: none;
  }
}
.pingv {
  width: 36rem;
  opacity: 0.4;
  position: absolute;
  right: 10rem;
  top: 0;
}
.my-social > i {
  font-size: clamp(2rem,40vw,15rem);
}
.pc-hide {
  display: none;
}
.code {
  font-size: 0.8rem;
  padding-left: 5vw;
}
.html-code {
  padding-left: clamp(2rem, 2vw, 30rem);
}
div.html-code {
  padding-bottom: clamp(2rem, 4vw, 30rem);
}
.non-focus {
  opacity: 0.4;
}
.about-me {
  min-height: 90vh;
  padding-top: 1rem;
}

.stack-btn,
.stack-btn-2 {
  background: none;
  font-size: 3rem;
  border-left: 0.5rem solid black;
  padding-left: clamp(1rem, 2vw, 30rem);
  transition: 1s;
}
.stack-btn-2 {
  border-left: 0.5rem solid white;
}
.stack-btn:hover,
.stack-btn-2:hover {
  background: black;
  color: white;
  padding-right: clamp(1rem, 2vw, 30rem);
}
.stack-btn-2:hover {
  background: white;
  color: black;
}
.todo {
  background: rgb(255, 255, 255);
  background-size: 200% 200%;
  -webkit-animation: todo-bg 15s ease infinite;
  -moz-animation: todo-bg 15s ease infinite;
  -o-animation: todo-bg 15s ease infinite;
  animation: todo-bg 15s ease infinite;
}

@-webkit-keyframes todo-bg {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
@-moz-keyframes todo-bg {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
@-o-keyframes todo-bg {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
@keyframes todo-bg {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
@media screen and (min-width: 1200px) {
  .todo {
    width: 80%;
  }
  .about-me-window {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .cat-img {
    width: 30% !important;
    float: left;
  }

  .card-h1 {
    font-size: 3.5vh !important;
    padding-bottom: 0.8rem;
  }
  .card-text {
    padding-top: 0.5rem;
  }
  .about-me-pc-bottom {
    position: absolute;
    bottom: 8rem;
  }
  .ul-text-wrapper > p {
    padding-left: 17rem;
  }
  .ul-h1 {
    display: inline-block;
  }
  .row {
    padding-top: 4rem;
  }

  .pc {
    display: block;
  }
  .projects-text {
    position: absolute;
    right: 0;
    width: 20rem;
    padding-right: 2rem;
    text-align: right;
  }

  .content,
  .content-special {
    padding-left: clamp(4rem,15vw,20rem);
    padding-right: clamp(4rem,15vw,20rem);
    width: 100%;
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  .content{
    padding: 1rem;
  }
  .about-me {
    padding-top: 0;
  }
  .about-me-text-align {
    text-align: center;
  }
  .about-me-window {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .ul-h1 {
    padding-top: 2rem;
  }

  .pingv {
    width: 20rem;
    right: -10rem;
  }
  .mobile {
    display: block;
  }

  .phone {
    left: -40vw;
    padding-top: 17rem;
  }

  .content-special {
    padding: none;
  }
  .content-h1 {
    font-size: 4rem !important;
    text-align: center;
  }


  .quadcol-3 {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .pc-hide {
    display: block;
  }
  .quadcol {
    display: none;
  }
  .quadcol-2 {
    display: none;
  }
  .quadcol-3 {
    display: none;
  }
  .quadcol-4 {
    display: none;
  }
  .quadcol-5 {
    display: none;
  }
}
