@import url("https://fonts.cdnfonts.com/css/open-sans");
* {
  padding: 0;
  font-family: "Open Sans", sans-serif !important;
  color: white;
}
.pc,
.mobile {
  display: none;
}
body {
  background: #0c0e12 !important;
}
.header {
  background: #0c0e12;
  min-height: 100vh;
  padding-left: 3rem;
  padding-right: 3rem;
}
.footer-h1 {
  font-size: 10vh !important;
}
h1 {
  font-weight: 900 !important;
  font-size: 8vw !important;
  line-height: 0.9 !important;
  margin: 0 !important;
}
h1.special {
  font-weight: 500 !important;
}
h2 {
  margin: 0 !important;
  font-size: 2rem !important;
  line-height: 1.25 !important;
}
p {
  opacity: 0.6;
  margin: 0 !important;
}

.footer {
  padding-top: 3rem;
}

.projects-div,
.lang-div {
  margin-bottom: 2rem !important;
  position: relative;
  padding-top: 2rem;

  padding-bottom: 1rem;
}
.lang-box {
  width: clamp(10rem, 80vw, 30rem);
  height: clamp(10rem, 80vw, 30rem);
  background: #ed7550;
}
.lang-div {
  padding-top: 5rem;
}

.header-text {
  position: absolute;
  bottom: 5rem;
  left: 12vw;
}
.nav-link,
.navbar-brand {
  color: white !important;
  font-size: 1.4rem !important;
}
.navbar-brand {
  font-weight: 800;
}

.nav-link {
  padding-right: 2rem !important;
}
.grey {
  background: gray;

  height: 10rem;
}
.quadcol {
  width: 30vw !important;
  height: 30vw !important;
  background: url("../../src/pc_index/1.png");
}
.quadcol-2 {
  width: 20vw !important;
  height: 20vw !important;
  background: url("../../src/pc_index/2.png");
}
.quadcol-3 {
  width: 15vw !important;
  height: 30vw !important;
  background: url("../../src/pc_index/3.png");
}
.quadcol-4 {
  width: 7vw !important;
  height: 10vw !important;
  background: url("../../src/pc_index/4.png");
}
.quadcol-5 {
  width: 10vw !important;
  height: 20vw !important;
  background: url("../../src/pc_index/5.png");
}
/** list **/
.content > ul {
  list-style: none;
}

.content > ul li {
  padding-bottom: clamp(2rem, 20vw, 8rem);
  position: relative;
}
.ul-text-wrapper {
  padding-top: 2rem;
}
.ul-text-wrapper > p {
  background: linear-gradient(to top, #120c0c, #0c0e12ea);
}
.content > ul li span {
  border-radius: 50%;
  padding: 1.5rem 2rem;
  margin-right: 2rem;
  background: #fff;
}
.content > ul li span:before {
  content: "";
  position: absolute;
  left: 2.2rem;
  bottom: 0;
  z-index: -1;
  height: 100%;
}

.content > ul li:last-child span:before {
  content: none;
}
.content > ul li:last-child {
  padding-bottom: 0;
}
.phone {
  position: absolute;
  left: -20vw;
  width: 40%;
  min-width: 20rem;
  z-index: 1;
}
.my-social::-webkit-scrollbar {
  width: 0 !important;
}
.card {
  background: none !important;
  border: none !important;
}
.pingv {
  width: 36rem;
  opacity: 0.4;
  position: absolute;
  right: 10rem;
  top: 0;
}
.my-social > i {
  font-size: 40vw;
}
.pc-hide {
  display: none;
}
.code {
  font-size: 0.8rem;
  padding-left: 5vw;
}
.html-code {
  padding-left: 5vw;
}
div.html-code {
  padding-bottom: clamp(2rem, 4vw, 30rem);
}
.non-focus {
  opacity: 0.4;
}
.about-me {
  padding-top: 1rem;
  min-height: 70vh;
}
.stack-btn {
  background: none;
  font-size: 3rem;
  border-left: 0.5rem solid white;
  padding-left: clamp(1rem, 2vw, 30rem);
  transition: 1s;
}
.stack-btn:hover {
  background: white;
  color: #0c0e12;
  padding-right: clamp(1rem, 2vw, 30rem);
}
.todo {
  background: linear-gradient(134deg, #0c0e12, #0c0e12, #e81010);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 22s ease infinite;
  -moz-animation: AnimationName 22s ease infinite;
  animation: AnimationName 22s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 71% 0%;
  }
  50% {
    background-position: 30% 100%;
  }
  100% {
    background-position: 71% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 71% 0%;
  }
  50% {
    background-position: 30% 100%;
  }
  100% {
    background-position: 71% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 71% 0%;
  }
  50% {
    background-position: 30% 100%;
  }
  100% {
    background-position: 71% 0%;
  }
}
@media screen and (min-width: 1200px) {
  .todo {
    background: url("../../src/pc_index/vector.svg"), linear-gradient(134deg, #0c0e12, #0c0e12, #e81010);
  }
  .card-h1 {
    font-size: 4vw !important;
    padding-bottom: 1rem;
  }
  .card-text {
    padding-top: 2rem;
  }
  .about-me-pc-bottom {
    position: absolute;
    bottom: 0;
  }
  .ul-text-wrapper > p {
    padding-left: 17rem;
  }
  .ul-h1 {
    display: inline-block;
  }
  .row {
    padding-top: 4rem;
  }

  .pc {
    display: block;
  }
  .projects-text {
    position: absolute;
    right: 0;
    width: 20rem;
    padding-right: 2rem;
    text-align: right;
  }

  .content {
    padding-left: 12vw;
    padding-right: 12vw;
    width: 100%;
    padding-bottom: 4rem;
  }
}
@media screen and (max-width: 1200px) {
  .ul-h1 {
    padding-top: 2rem;
  }

  .pingv {
    width: 20rem;
    right: -10rem;
  }
  .mobile {
    display: block;
  }
  .pc-hide {
    display: block;
  }

  .phone {
    left: -40vw;
    padding-top: 17rem;
  }
  .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .content-h1 {
    font-size: 4rem !important;
    text-align: center;
  }
  .content-h2-mobile-align {
    text-align: right;
  }
  .quadcol-2 {
    display: none;
  }
  .quadcol-3 {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .quadcol {
    display: none;
  }
  .quadcol-2 {
    display: none;
  }
  .quadcol-3 {
    display: none;
  }
  .quadcol-4 {
    display: none;
  }
  .quadcol-5 {
    display: none;
  }
}
