@font-face {
  font-family: "Minomu Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Minomu Regular"), url("./fonts/Minomu-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Minomu Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Minomu Bold"), url("./fonts//Minomu-Bold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Minomu Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}

.header {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  background: radial-gradient(100.34% 317.12% at 100% 98.43%, #ffffff 0%, #ef9675 100%);
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
}
.content {
  padding-left: 10rem;
  padding-right: 10rem;
}
h1 {
  font-family: "Minomu Bold";
  font-style: normal;
  font-weight: 700;
}
.navbar {
  background: none !important;
  padding-top: 1rem;
  border-bottom: solid black;
  margin: 0 !important;
  max-width: 70%;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 80%;
}
