.app-window-header {
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 10px;
  background-color: #ccc;
  cursor: move;
}

.dock {
  position: absolute;
  bottom: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center; /* выравнивание содержимого по центру */
}

.dock ul {
  background: white;
  padding: 0.4rem;
  border-radius: 1rem;
  display: flex;
  list-style: none;
  margin: 0 auto; /* центрирование содержимого */
}

.dock li {
  margin: 0 10px;
}

.dock a {
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.1));
  transition: transform 0.2s ease-out;
}

.dock a:hover {
  transform: translateY(-4px);
}

.dock img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* стили для окна с приложением */
.app-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.781);
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: none; /* скрываем окно приложения по умолчанию */
  overflow: hidden;
  padding-bottom: 2rem;
}
.app-window-body {
  overflow-y: auto;
  height: 100%;
}
/* scrollbar styling */
/* Works on Chrome/Edge/Safari */
.app-window-body::-webkit-scrollbar {
  width: 12px;
}

.app-window-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.app-window-body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.25rem;
}

.app-window-body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
/* window header */
a {
  text-decoration: none;
}

span.window-span {
  line-height: 9px;
  vertical-align: 50%;
}

.titlebar {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb, color-stop(1, #d5d5d5)));
  background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
  background: linear-gradient(top, #ebebeb, #d5d5d5);
  color: #4d494d;
  font-size: 11pt;
  line-height: 20px;
  text-align: center;
  width: 100%;
  height: 20px;
  border-top: 1px solid #f3f1f3;
  border-bottom: 1px solid #b1aeb1;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  cursor: default;
}

.buttons {
  padding-left: 8px;
  padding-top: 3px;
  float: left;
  line-height: 0px;
}

.buttons:hover a {
  visibility: visible;
}

.close {
  background: #ff5c5c;
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
}

.close:active {
  background: #c14645;
  border: 1px solid #b03537;
}

.close:active .closebutton {
  color: #4e0002;
}

.closebutton {
  color: #820005;
  visibility: hidden;
  cursor: default;
}

.minimize {
  background: #ffbd4c;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  border: 1px solid #e09e3e;
  border-radius: 50%;
  display: inline-block;
}

.minimize:active {
  background: #c08e38;
  border: 1px solid #af7c33;
}

.minimize:active .minimizebutton {
  color: #5a2607;
}

.minimizebutton {
  color: #9a5518;
  visibility: hidden;
  cursor: default;
}

.zoom {
  background: #00ca56;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 6px;
  width: 11px;
  height: 11px;
  border: 1px solid #14ae46;
  border-radius: 50%;
  display: inline-block;
}

.zoom:active {
  background: #029740;
  border: 1px solid #128435;
}

.zoom:active .zoombutton {
  color: #003107;
}

.zoombutton {
  color: #006519;
  visibility: hidden;
  cursor: default;
}

/* window END */

/* content BEGIN */

h3 {
  margin-top: 0px;
}

/* content END */
