.window-content {
  overflow-y: auto;
}
.pc_specs-special {
  background: white;
  height: 4rem;
}
/* Стили таблицы */
table {
  border-collapse: collapse;

  width: 100%;
}

th,
td {
  color: black;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #0078d7;
  color: #fff;
  font-weight: bold;
}
